* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 900;
  line-height: 1;
}

p,
figure {
  margin: 0;
}

label,
input,
button {
  font: inherit;
  color: inherit;
  border: 0;
}

/* snippet to hide element visually but allow assistive tech to access
** https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html#hiding-content-visually
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-weight: 900;
  background-color: white;
}

.header__logo {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.header__logo-text {
  margin-left: 0.5rem;
}

.header__list {
  display: flex;
  list-style: none;
}

/* apply margin to items with a preceding sibling (e.g. not the first) */
.header__item + .header__item {
  margin-left: 1rem;
}

.header__link {
  color: inherit;
  text-decoration-line: none;
  text-decoration-thickness: 2px;
}

.header__link:hover {
  text-decoration-line: underline;
  text-decoration-color: blue;
}

.header__link:focus {
  outline: 0.25rem solid blue;
  outline-offset: 0.25rem;
}

.header__link--active {
  text-decoration-line: underline;
  text-decoration-color: black;
}

/* main {
  max-width: 60rem;
  margin: 0 auto;
} */

section {
  scroll-margin-top: 6.25rem; /* height of the header: prevents it overlapping */
  padding: 16rem 1.5rem;
}

.intro {
  display: grid;
  grid-row-gap: 1.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.intro__heading {
  font-size: 3rem;
}

.intro__paragraph {
  font-size: 1.25rem;
}

.intro__button {
  display: block;
  padding: 1rem 2rem;
  background: blue;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0.25rem 0.25rem 0 yellow;
}

.about {
  display: grid;
  grid-row-gap: 1.5rem;
  background-color: hsl(200, 20%, 96%);
}

.about__paragraph {
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.about__skills {
  display: flex;
  justify-content: center;
}

.about__skill + .about__skill {
  margin-left: calc(2rem + 4vw);
}

.about__icon {
  border-radius: 50%;
  padding: calc(1rem + 1vw);
  background-color: yellow;
}

.about__caption {
  margin-top: 0.75rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.team {
  max-width: 60rem;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.team__figure {
  display: flex;
  align-items: center;
}

.team__caption {
  flex: 1;
  padding: 2rem;
  text-align: right;
  font-size: 2rem;
}

.team__image {
  box-shadow: 0.5rem 0.5rem 0 yellow;
}

/* every other caption gets aligned left */
.team__item:nth-child(2n) .team__caption {
  text-align: left;
}

/* every other image gets swapped with the caption and a different colour shadow */
.team__item:nth-child(2n) .team__image {
  order: -1;
  box-shadow: 0.5rem 0.5rem 0 blue;
}

.contact {
  background-color: hsl(200, 20%, 96%);
}

.form {
  max-width: 36rem;
  margin: 0 auto;
  font-size: 1.25rem;
}

.form__label {
  font-weight: 600;
}

.form__help {
  font-size: 1rem;
}

.form__row {
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr auto;
  border: 0.125rem solid;
}

.form__input {
  padding: 0.75rem;
  background-color: white;
}

.form__input:focus {
  outline: 0.125rem solid blue;
  z-index: 10; /* puts outline above the button's border */
}

/* Firefox puts a red shadow around required inputs before they're event touched */
.form__input:invalid {
  box-shadow: none;
}

/* default placeholder is too low contrast */
.form__input::placeholder {
  color: hsl(200, 15%, 45%);
  opacity: 1;
}

.form__button {
  border-left: 0.125rem solid;
  padding: 0.75rem 1rem;
  font-weight: 900;
  background-color: yellow;
}

.form__button:focus {
  outline: 0.125rem solid blue;
}

/* remove annoying dotted inner line in Firefox */
.form__button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
